{% extends 'layout.html' %}
{% block content %}
    <h1>{{ message }}</h1>
    <form action="/update/{{ post.id }}" method="post">
        <label for="title">タイトル</label><br>
        <input type="text" name="title" value="{{ post.title }}">
        <p></p>
        <label for="content">本文</label><br>
        <textarea name="content" cols="40" rows="10">{{ post.content }}</textarea>
        <p></p>
        <button type="submit">保存する</button>
        <a href='/show/{{ post.id }}'>キャンセル</a>
    </form>
{% endblock %}
